/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'PT Sans Narrow', sans-serif;
   font-size: 100%;
   background:#fff; 
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.banner {
	background: url(../images/3.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:800px;
	text-align: center;
	padding-top:1em;
}
.header_top_left{
	float:left;
}
.header_top_right{
	float:right;
	width:23%;
}
.box_11{
    cursor: pointer;
    padding: 5px 10px;
    background: #F9D9BE;
}
.box_11 a:hover{
	text-decoration:none;
	color:#000;
}
.box_11 h4 {
    border: none;
    color: #fff;
    font-size: 0.85em;
    margin-bottom: 0;
    padding: 0;
}
.box_11 p {
    float: left;
    margin: 6px 0 0 0;
    color:#000;
}
p.empty {
    font-size: 13px;
    margin: 6px 0 0 5px;
    float: right;
}
p.empty a {
    color: #fff;
}
.box_11 h4 img {
    margin-left: 5px;
    float: left;
}
.lang_list{
	float: left;
    border-right: 1px solid #555;
	width: 38%;
}
/* PREFIXED CSS */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}
/* WRAPPER */
.dropdown{
	position: relative;
	width: 75px;
	cursor: pointer;
	font-weight: 200;
	background: none;
	padding: 8px 15px 5px;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.dropdown.open{
	z-index: 2;
}
.dropdown:hover,
.dropdown.focus{
	/*--background:#F7F7F7;--*/
}
/* CARAT */
.dropdown .carat,
.dropdown .carat:after{
	position: absolute;
	right:-1px;
	top: 50%;
	margin-top:0px;
	border: 4px solid transparent;
	border-top: 4px solid #c1c1c1;
	z-index: 1;
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
}
.dropdown:hover .carat:after{
	border-top-color: #f4f4f4;
}
.dropdown.focus .carat{
	border-top-color: #f8f8f8;
}
.dropdown.focus .carat:after{
	border-top-color: #0180d1;
}
.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* OLD SELECT (HIDDEN) */
.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.dropdown.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.dropdown .selected,
.dropdown li{
	display: block;
	font-size:12px;
	overflow: hidden;
	white-space: nowrap;
	text-transform: uppercase;
}
.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}
/* DROP DOWN WRAPPER */
.dropdown div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	background:#fb4d01;
	overflow: hidden;
	opacity: 0;
	color:#fff;
	width:90px;
}
.dropdown:hover div{
	background:#4CB1CA;
}
/* Height is adjusted by JS on open */
.dropdown.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.dropdown.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
	padding:0;
	background:#F9D9BE;
}
.dropdown.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.dropdown li{
	list-style: none;
	padding:8px;
	border-bottom: 1px solid #E7BD99;
	color: #000;
}
.dropdown li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.dropdown li.focus{
	background:#E4BD9C;
	position: relative;
	z-index: 3;
	color: #fff;
}
.dropdown li.active{
	background:#ee4a02;
	color: #fff;
}
ul.header_user_info {
	float: left;
	border-right: 1px solid #555;
	width:50%;
	padding:0;
	min-height: 30px;
}
ul.header_user_info a{
	color:#fff;
}
ul.header_user_info a:hover{
	color:#fd926d;
}
ul.header_user_info a:hover{
	text-decoration:none;
	color:#fd926d;
}
i.user{
	width: 17px;
	height: 17px;
	background: url(../images/img-sprite.png) no-repeat -241px -67px;
	float: left;
	margin:6px 10px 0 5px;
}
ul.header_user_info li.user_desc{
	display: block;
	font-size: 12px;
    text-transform: uppercase;
	cursor: pointer;
	/* background: #fb5c22; */
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	float: left;
	margin-top:6px;
}
.search-box {
	position: relative;
}
.sb-search {
	position: absolute;
	top:0px;
	right:0px;
	width: 0%;
	min-width: 30px;
	height: 28px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0;
	left: 0px;
	border: none;
	outline: none;
	background:#555;
	width: 100%;
	height: 28px;
	margin: 0;
	z-index: 10;
	padding: 5px 10px;
	font-size: 13px;
	color: #ffffff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #ffffff;
}
.sb-search-input:-moz-placeholder {
	color: #ffffff;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
	width:30px;
	height:28px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #333 url('../images/search.png') no-repeat 0px 1px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
  	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}
.sb-icon-search {
	color: #FFF;
	background: #000 url('../images/search.png') no-repeat 7px 5px;
	z-index: 90;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
	width:100%;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
.header_bottom {
	padding: 2em 0;
}
.logo h1{
    font-size:7em;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: 5px;
}
span.m_1 {
  color:#F9D9BE;
}
.logo{
	float:left;
}
.logo h1 a{
	color:#fff;
}
.logo h1 a:hover{
   text-decoration:none;
}
.menu {
   float:right;
   margin: 3em 0 0 0;
}
.h_nav ul li a {
	display: block;
	font-size: 0.85em;
	color: #555;
	text-transform: capitalize;
	line-height: 1.8em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	line-height: 2.5em;
}
.h_nav ul li a:hover{
	text-decoration:none;
	color:#f84545;
}
.h_nav h4 {
	font-size: 1em;
	color: #000;
	line-height: 1.8em;
	text-transform: uppercase;
	margin-bottom:1em;
}
.p_left{
	float:left;
	margin-right:1em;
	padding-bottom:2em;
}
.p_right{
	float:left;
}
.p_right h4{
	margin-bottom:-10px;
}
.p_right h4 a:hover, .small:hover{
	text-decoration:none;
	color: #f84545;
}
ul.content-home{
  padding:5em 0;
  margin-bottom: 0;
}
ul.content-home li {
  padding: 15px;
}
ul.content-home li a {
  display: block;
}
ul.content-home li .bannerBox {
  position: relative;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.09);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}
ul.content-home li img {
  max-width: 100%;
  height: auto;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
ul.content-home li a:hover img {
  transform: scale(1.1);
}
ul.content-home li .item-html {
  position: absolute;
  left: 30px;
  top: 20px;
  width: 50%;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  color: #777;
}
ul.content-home li .item-html h3 {
  color: #000;
  font-size: 69px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.06em;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 0 2px;
}
ul.content-home li .item-html h3 span {
  display: block;
  color: #000;
  font-size: 52px;
  font-style: italic;
  font-weight: 300;
  line-height: 50px;
  margin: 3px 0 0;
  text-transform: uppercase;
}
ul.content-home li .item-html p {
  margin-bottom: 17px;
}
ul.content-home li .item-html button {
  background:#1976D2;
  color: #CFD8DC;
  display: inline-block;
  font-size: 15px;
  line-height: 12px;
  padding: 14px 33px 15px;
  text-transform: uppercase;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  font-weight: normal;
}
ul.content-home li .item-html button:hover{
	background:#1976D2;
	color:#FFFFFF;
}
.middle_content{
  margin-bottom:5em;
  text-align:center;
}
.middle_content h2{
  color: #000;
  font-size: 69px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  margin-bottom:0.5em;
}
.middle_content p{
  color: #999;
  font-size:1.1em;
}
/*--content--*/

/*========================
 Transitions
 ========================*/
.searchfield:focus, .searchfield:not(:focus) {
	-webkit-transition-property: width;
	-webkit-transition-duration: 0.5s, 0.5s;
	-webkit-transition-timing-function: linear, ease-out;
}
.lb-album {
	margin: 0 auto;
	padding:0;
	list-style:none;
}
.lb-album li {
	width: 24.9999%;
	float: left;
	position: relative;
}
.lb-album li:nth-child(4), .lb-album li:nth-child(8), .lb-album li:nth-child(12) {
	margin-right: 0;
}
.lb-album li > a, .lb-album li > a img {
	display: block;
	width: 100%;
}
.lb-album li > a {
	position: relative;
}
.lb-album li > a span {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height:16em;
	color: #fff;
    font-size: 24px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background:rgba(249, 217, 190, 0.67);
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background:#000;
}
.lb-overlay > div {
	position: relative;
	color: rgba(27,54,81,0.8);
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	width: 550px;
	margin: 10px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	-webkit-transition: opacity 0.3s linear 1.3s;
	-moz-transition: opacity 0.3s linear 1.3s;
	-o-transition: opacity 0.3s linear 1.3s;
	-ms-transition: opacity 0.3s linear 1.3s;
	transition: opacity 0.3s linear 1.3s;
}
.lb-overlay div h3, .lb-overlay div p {
	padding: 0px 20px;
	width: 200px;
	height: 60px;
	color: #fff;
}
.lb-overlay div h3 {
	color: #fff;
	font-size:30px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span, .lb-overlay div p {
	font-size: 13px;
	font-style: italic;
}
.lb-overlay div h3 span {
	display: block;
	line-height: 6px;
}
.lb-overlay div p {
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close {
	font-size: 0.924em;
	padding: 4px;
	background: rgba(64, 72, 109, 0.61);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
    overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}
.lb-overlay img {
	/* height: 100%; For Opera max-height does not seem to work */
	max-height: 100%;
	position: relative;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img {
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
	display: inline-block;
}
.lb-overlay:target a.lb-close, .lb-overlay:target > div {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
@-webkit-keyframes fadeInScale {
0% { -webkit-transform: scale(0.6); opacity: 0; }
100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
0% { -moz-transform: scale(0.6); opacity: 0; }
100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
0% { -o-transform: scale(0.6); opacity: 0; }
100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
0% { -ms-transform: scale(0.6); opacity: 0; }
100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
0% { transform: scale(0.6); opacity: 0; }
100% { transform: scale(1); opacity: 1; }
}

/*
 100% Height for Opera as the max-height seems to be ignored, not optimal for large screens
 http://bricss.net/post/11230266445/css-hack-to-target-opera
 */
x:-o-prefocus, .lb-overlay img {
	height: 100%;
}
.lb-album h2 {
	color:#999;
	font-size:3em;
	font-weight:700;
}
.lb-album p {
	color:#333;
	font-size:13px;
	line-height:1.5em;
}
/*--login--*/
.account-in{
  padding:5em 0;
}
.account-top span{
  font-size: 1em;
  color: #999;
  display: block;
  line-height: 2em;
}
.account-top input[type="text"], .account-top input[type="password"] {
  padding: 0.7em;
  width: 85%;
  background: none;
  border: 1px solid #D1D1D1;
  outline: none;
  color: #464646;
  font-size: 1em;
}
.account-top input[type="submit"] {
  background:#337ab7;
  color:#000;
  font-size: 1.1em;
  border: none;
  outline: none;
  border-radius:2px;
  -webkit-border-radius:2px;
  -o-border-radius:2px;
  -moz-border-radius:2px;
  -ms-border-radius:2px;
  padding: 0.4em 1.3em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.account-top div{
  margin-bottom: 1em;
}
a.create {
  text-decoration: none;
  color: #000;
  padding: 7px 20px;
  background:#F9D9BE;
  text-align: center;
  display: block;
  border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
}
a.create:hover, .account-top input[type="submit"]:hover, .register-but form input[type="submit"]:hover{
  background: #000;
  color:#fff;
}
.five-in {
  background: #fff;
  border-radius: 100px;
  border: 2px solid #F9D9BE;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 1%;
  right: 8%;
  padding: 1.3em 0 0;
  text-align: center;
}
.five-in span {
  font-size: 1em;
  color: #f02b63;
}
.five-in h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: #000;
}
.account-in h3{
  font-size:2em;
  color: #000;
  padding: 0 0.5em 1em;
  text-transform:uppercase;
}
/*--register--*/
.register-top-grid h2, .register-bottom-grid h2 {
	color:#000;
	font-size:1.5em;
	padding-bottom:1em;
	margin: 0;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#999;
	font-size: 0.85em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	font-size: 0.95em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #D2CF99;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#FFFFFF;
}
.register-but{
	margin-top:1em;
}
.register-but form input[type="submit"] {
	background:#337ab7;
	color: #000;
	font-size:1em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-bottom-grid {
	margin-top:3em;
}
/*--footer--*/
.newsletter {
  text-align: center;
  padding:0   0 3em;
}
.newsletter h3 {
  font-size: 3em;
  color: #000;
}
.newsletter p {
  font-size: 1.1em;
  color: #A5A5A5;
  line-height: 1.5em;
  margin: 0.8em 0 0;
}
.newsletter form {
  width: 50%;
  margin: 2em auto 0;
}
.newsletter input[type="text"]{
  width: 60%;
  padding: 0.7em;
  outline: none;
  color: #B4B2B2;
  font-size: 1em;
  background: none;
  border: 1px solid #555;
}
.newsletter input[type="submit"] {
  width: 26%;
  color: #000;
  font-size: 1em;
  background:#F9D9BE;
  border: 1px solid #555;
  outline: none;
  padding: 0.7em;
}
.newsletter input[type="submit"]:hover{
	background:#000;
	color:#fff;
}
.footer{
	padding:5em 0;
}
.cssmenu{
	float:left;
}
.cssmenu ul{
	padding:0;
	list-style:none;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a {
	color: #1a1a1a;
	display: block;
	margin: 10px 20px;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 600;
	letter-spacing: 5px;
}
.cssmenu ul li a:hover{
	text-decoration:none;
	color:#F9D9BE;
}
ul.social {
	padding:0;
	list-style: none;
	float:right;
}
ul.social li:first-child {
	margin-left: 0;
}
ul.social li {
	display: inline-block;
	margin-right: 5px;
}
ul.social li a i {
	width:35px;
	height:35px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat;
}
ul.social li a i:hover{
	opacity:0.8;
}
ul.social li a i.instagram{
	background-position:-5px -4px;
}
ul.social li a i.fb{
	background-position:-44px -5px;
}
ul.social li a i.tw{
	background-position:-83px -6px;
}
.copy{
	text-align:center;
	margin-top:2em;
}
.copy p a{
	color:#ECCAAD;
}
.copy p a:hover{
	text-decoration:none;
	color:#1a1a1a;
}
.copy p{
	font-size:1em;
}
/*--men--*/
.men{
	padding: 5em 0 2em;
}
.men_banner {
	background: url(../images/3.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:225px;
	text-align: center;
	padding-top: 3em;
}
.sidebar_men {
	margin-right: 1em;
	width: 31.333333%;
}
.sidebar_men h3{
	margin: 0 0 20px;
	font-size:2em;
	line-height: 1.25;
	font-weight: 400;
	text-transform: uppercase;
}
ul.product-categories{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.product-categories li {
	padding: 5px 0;
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
	text-transform: uppercase;
}
ul.product-categories li a:hover{
	text-decoration:none;
	color:#E23535;
}
.product-categories li span.count {
	float: right;
	margin-left: 6px;
	color: #aaa;
	font-size:0.8125em;
}
ul.product-categories li  a {
	-webkit-transition: background 350ms ease-in-out,border-color 350ms ease-in-out,color 150ms ease-in-out;
	-moz-transition: background 350ms ease-in-out,border-color 350ms ease-in-out,color 150ms ease-in-out;
	-ms-transition: background 350ms ease-in-out,border-color 350ms ease-in-out,color 150ms ease-in-out;
	-o-transition: background 350ms ease-in-out,border-color 350ms ease-in-out,color 150ms ease-in-out;
	transition: background 350ms ease-in-out,border-color 350ms ease-in-out,color 150ms ease-in-out;
	font-size:0.85em;
	color: #555;
}
ul.color{
	margin-bottom:3em;
}
.inner_content {
	background: #fff;
	position: relative;
}
.dreamcrub{
	margin:0 0 2em;
}
ul.previous {
	padding: 0;
	list-style: none;
	float: right;
}
ul.previous li a {
	color: #999;
	font-size:1em;
}
ul.previous li a:hover{
	text-decoration:none;
	color:#FFFFFF;
}
ul.breadcrumbs {
	padding: 0;
	list-style: none;
	float: left;
}
ul.breadcrumbs li {
	display: inline-block;
	font-size:1em;
	color: #999;
}
.mens-toolbar {
	margin-bottom: 2em;
}
.mens-toolbar .sort {
	float: left;
	width:21.5%;
}
.sort-by {
	color:#000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.sort-by label{
	font-weight:normal;
	font-size:1em;
}
.mens-toolbar .pages {
	float: right;
	margin: 0;
}
ul.women_pagenation.dc_paginationA.dc_paginationA06 {
	float:right;
	padding:0;
	list-style:none;
}
.pages{
	float:right;
}
.pages .limiter {
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
}
.pages .limiter label{
	font-size:0.95em;
}
.pages .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
}
ul.women_pagenation li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	list-style:none;
}
ul.women_pagenation li a {
	color:#000;
	display: block;
	padding:4px 8px;
	text-decoration: none;
	font-size: 0.8125em;
	text-transform:uppercase;
}
ul.women_pagenation li.active a{
	background:#F9D9BE;
	color:#000;
}
ul.women_pagenation li a:hover{
	background:#F0B889;
	color:#fff;
}
.product_container {
	text-align: left;
	padding:1em;
	font-family: 'PT Sans Narrow', sans-serif;
}
.product_container h4{
	text-transform: uppercase;
	font-size:1em;
	color:#000;
	margin-bottom: 3px;
}
.product_container p{
	text-transform:uppercase;
	font-size:0.8125em;
	color:#999;
}
.price{
	font-weight: 100;
	font-size: 0.95em;
	margin-top: 10px;
}
.view {
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   width:100%;
}
.view img {
   display: block;
   position: relative;
} 
.view .info {
    display: inline-block;
	text-decoration: none;
	padding: 7px 52px;
	background:#F9D9BE;
	color: #000;
	text-transform: uppercase;
	margin-top: 8em;
	font-family: 'PT Sans Narrow', sans-serif;
}
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.mask1 {
	text-decoration: none;
	overflow: hidden;
	display: block;
}
img.zoom-img {
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	/* -webkit-transition-duration: 250ms; */
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}
img.zoom-img:hover {
	-webkit-transform: scale(1.15);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 750ms;
	-moz-transform: scale(1.15);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 750ms;
	overflow: hidden;
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
/*--single--*/
.labout {
	display: block;
	float: left;
	margin: 0 3.6% 0 0;
}
.span_1_of_a1 {
	width: 36.2%;
}
.span_2_of_a1 {
	width: 60.1%;
}
.cont1 {
	display: block;
	float: left;
}
.span_2_of_a1 h1 {
	color: #333;
	text-transform: uppercase;
	font-size: 1.7em;
}
.price_single {
	font-size: 1.3em;
	margin: 0.5em 0 1.5em;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 3%;
	color: #555;
}
.price_single a {
	color: #999;
	font-size: 13px;
}
h2.quick {
	color: #000;
	font-size:1.2em;
	text-transform: uppercase;
}
p.quick_desc {
	color: #999;
	font-size:0.95em;
	line-height: 1.8em;
	font-weight: 100;
	margin-bottom: 2em;
}
span.actual {
	color:#FFB87B;
	font-size: 1em;
	margin-right: 5%;
}
ul.size {
	padding: 0;
	list-style: none;
	margin-top: 2em;
}
ul.size h3 {
	color: #000;
	font-size:1.2em;
	text-transform: uppercase;
	margin-bottom: 15px;
}
ul.size li {
	display: inline-block;
	margin: 0 10px 0 0;
}
ul.size li a {
	color: #555;
	font-size: 0.85em;
	background:#f0f0f0;
	padding: 5px 10px;
}
ul.size li a:hover{
	background:#FFFFFF;
	color:#000;
	text-decoration:none;
}
ul.product-qty {
	padding: 0;
	list-style: none;
	float: left;
}
.product-qty span {
	color: #000;
	font-size:1.2em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
}
.product-qty select {
	border: 1px solid #eee;
	padding: 0.5em;
	font-size: 1em;
	outline: none;
}
.product-qty option {
	border: 1px solid #EEE;
}
.wish-list {
	padding: 15px 0;
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
}
.wish-list ul{
	padding:0;
	list-style:none;
}
.wish-list li {
	display: inline-block;
	margin-right: 45px;
}
.wish-list li.wish {
	background: url(../images/wishlist.png) no-repeat 0;
}
.wish-list li a {
	color:#FFB87B;
	font-size: 0.8125em;
	padding-left: 22px;
	text-decoration: underline;
}
.wish-list li a:hover{
	text-decoration:none;
}
.wish-list li.compare {
	background: url(../images/compare.png) no-repeat 0;
	margin-right: 0;
}
p.availability{
	color:#999;
	font-size:1em;
	font-weight:normal;
}
span.color{
	color:#FFB87B;
}
.quantity_box {
	margin: 2em 0;
}
.single_social{
	padding:0;
	list-style:none;
	float:right;
}
ul.single_social li:first-child {
	margin-left: 0;
}
ul.single_social li {
	display: inline-block;
	margin-right: 5px;
}
ul.single_social li a i {
	width: 35px;
	height: 35px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat;
}
ul.single_social li a i:hover{
	opacity:0.8;
}
ul.single_social li a i.fb1 {
	background-position:-138px -7px;
}
ul.single_social li a i.tw1 {
	background-position:-184px -7px;
}
ul.single_social li a i.g1 {
	background-position:-231px -7px;
}
ul.single_social li a i.linked {
	background-position:-8px -52px;
}
.btn.btn-primary {
	font-size: 1.1em;
	font-weight: 300;
	font-style: normal;
	text-shadow: none;
	text-transform: uppercase;
	color:#000;
	padding: 10px 30px;
	position: relative;
	letter-spacing: 0;
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	border: none;
	outline: none;
	border-radius: 0;
	z-index: 1;
	overflow: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	border: 1px solid #ccc;
	border-bottom-color: #b3b3b3;
}
.btn-primary {
	color: #fff;
}
.btn.btn-primary:before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: -1;
	border-radius: 0;
	background:#E7BF9E;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.btn.btn-primary:hover:before {
	width: 100%;
	left: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn.btn-primary:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	border-radius: 0;
	background:#F9D9BE;
	z-index: -2;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
/******** SAP ************/
.sap_tabs {
	margin-top: 3em;
}
.facts {
	border: 1px solid #E6E6E6;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 100%;
	list-style: none;
	padding: 0;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	color: #777;
	font-size: 0.95em;
	cursor: pointer;
	padding: 12px 10px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
}
.resp-tab-item:hover {
	text-shadow: none;
	color:#000;
}
.resp-tab-active{
	background:#F9D9BE;
	text-shadow: none;
	color:#000;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#F9D9BE;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#000;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
.sap_tabs{
	padding-top:0;
}
.resp-tabs-container{
	padding:10px;
}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
ul.tab_list{
	list-style: none;
	padding:1em;
}
ul.tab_list li {
	margin-bottom: 10px;
}
ul.tab_list li a {
	color:#999;
	font-size:0.95em;
	line-height: 1.8em;
	vertical-align: top;
	text-decoration: none;
}
ul.tab_list li a:hover {
	color:#333;
}
ul.product{
	padding:0;
	list-style:none;
	margin-bottom:1em;
}
ul.product li.product_img{
	float: left;
	width: 40%;
	margin-right: 5%;
}
ul.product li.product_desc{
	overflow:hidden;
}
ul.product li.product_desc h4{
	margin-bottom:5px;
}
ul.product li.product_desc h4 a{
	color:#000;
	font-size:0.95em;
}
ul.product li.product_desc h4 a:hover{
	text-decoration:none;
	color: #f84545;
}
a.link-cart {
   font-size: 13px;
   color:#FFB87B;
   display: block;
   font-weight:100;
}
p.single_price{
	font-size:0.8125em;
	margin-bottom:1em;
}
h3.m_1 {
	font-size: 1.3em;
	text-transform: uppercase;
	margin-bottom: 2em;
	color: #000;
}
.page-heading.product-listing {
	border-bottom: none;
	margin-bottom: 0;
}
.page-heading {
	background: none repeat scroll 0 0 #fff;
	clear: both;
	color: #382925;
	font-size:1.5em;
	font-weight: normal;
	margin-bottom: 15px !important;
	margin-top: 0;
	position: relative;
	text-transform: none;
	transition: all 1s ease 0s;
	width: 100%;
	text-transform: uppercase;
}
.page-heading > span.heading-counter {
	float: right;
	font-size: 15px;
	margin-top: 6px;
}
.product-count {
	padding: 10px 0;
	font-size: 0.95em;
	color: #000;
}
.brand_box {
	margin-top: 2em;
}
.left-side{
	padding:0;
}
.left-side img{
	border:1px solid #CFCFCF;
}
.middle-side h4 a{
	font-size:1em;
	text-transform:uppercase;
	color:#000;
}
.middle-side p{
	font-size:0.95em;
	color:#999;
	line-height:1.8em;
}
a.btn.btn1.btn-primary.btn-normal.btn-inline {
	font-size: 0.8125em;
	padding: 10px 20px;
}
.right-side{
	border-left: 1px solid #eee;
	padding: 35px 0 50px 66px;
}
.right-side p{
	font-size:1.1em;
	margin-bottom:0.5em;
}
.grid_1{
	text-align:center;
	margin-bottom: 2em;
}
.grid_1 h1{
	font-size:2em;
	color:#000;
	text-transform:uppercase;
    margin-bottom:1em;
}
.grid_1 p{
	font-size:0.95em;
	color:#999;
	line-height:1.8em;
}
ul.iphone{
	padding:0;
	list-style:none;
	margin-bottom: 1em;
}
i.phone {
	width: 35px;
	height: 38px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -53px -49px;
	float: left;
	margin-right: 1em;
}
i.flag {
	width: 35px;
	height: 35px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -94px -52px;
	float: left;
	margin-right: 1em;
}
i.msg{
	width: 35px;
	height: 35px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -142px -54px;
	float: left;
	margin-right: 1em;
}
i.home{
	width: 35px;
	height: 35px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -187px -53px;
	float: left;
	margin-right: 1em;
}
.preffix_1 {
	margin-left:20%;
	float: left;
	width:33%;
}
.grid_3 {
	float: left;
	width: 38%;
}
ul.iphone li.phone_desc{
	font-size:1em;
	color:#000;
	padding-top: 5px;
}
.to input[type="text"] {
	padding: 12px;
	width: 95%;
	font-size: 0.85em;
	margin: 10px 0;
	border: 1px solid #bababa;
	color: #999;
	background:none;
	float: left;
	outline: none;
}
.text input[type="text"], .text textarea {
	width: 95%;
	font-size: 0.85em;
	margin: 10px 0;
	border: 1px solid #bababa;
	color: #999;
	outline: none;
	background:none;
	height:178px;
	padding: 12px;
	resize: none;
}
.contact_form h2{
	font-size: 2em;
	color: #000;
	text-transform: uppercase;
    margin-bottom: 1em;
	text-align:center;
	margin:2em 0 1em 0;
}
.but__center {
	text-align: center;
	margin:2em 0;
}
.but__center input[type="submit"] {
	background:none;
	display: inline-block;
	color:#ECCAAD;
	text-transform: uppercase;
	font-size: 1.2em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	border: none;
	cursor: pointer;
	outline: none;
	font-weight:600;
}
.but__center input[type="submit"]:hover{
	color:#000;
}
.map iframe {
	min-height:400px;
	width: 100%;
	border: none;
}
/*--404--*/
.page-not-found {
	padding:5em 0;
	min-height:550px;
	text-align: center;
}
.page-not-found h1 {
	font-size: 12em;
	color: #000;
	font-weight: 100;
	margin-bottom: 20px;
}
a.b-home {
  background:#F9D9BE;
  color:#000;
  text-transform: uppercase;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
}
.link-1:hover{
	text-decoration:none;
	color:#000;
}
/*--checkout--*/
.cart-items {
  width: 70%;
  margin-right: 5%;
}
.cart-items h1 {
  font-size: 1.5em;
  margin-bottom: 2em;
}
.cart-header {
  position: relative;
}
.cart-header2 {
  position: relative;
}
.close1, .close2 {
  background: url('../images/close_1.png') no-repeat 0px 0px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.cart-sec {
  margin-bottom: 3em;
}
.cart-item {
  width: 20%;
  float: left;
  margin-right: 5%;
}
.cart-item-info {
  width: 75%;
  float: left;
}
.cart-item-info h3 {
  font-size: 1em;
  font-weight: 600;
}
ul.qty {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.qty li {
  display: inline-block;
  margin-right: 10%;
}
ul.qty li p {
  font-size: 0.8125em;
  color: #555;
}
ul.qty li {
  display: inline-block;
  margin-right: 10%;
}
.delivery span {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: right;
}
a.continue {
  background:#F9D9BE;
  padding: 10px 20px;
  font-size: 1em;
  color: #000;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 2em;
}
a.continue:hover{
  background:#E0BD9F;
}
.price-details {
  border-bottom: 1px solid #DDD9D9;
  padding-bottom: 10px;
}
.price-details h3 {
  color: #000;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.price-details span {
  width: 50%;
  float: left;
  font-size: 0.8125em;
  color: #000;
  line-height: 1.8em;
}
.price-details span {
  width: 50%;
  float: left;
  font-size: 0.8125em;
  color: #000;
  line-height: 1.8em;
}
ul.total_price {
  padding: 0;
  margin: 1em 0 0 0;
  list-style: none;
}
ul.total_price li.last_price {
  width: 50%;
  float: left;
}
ul.total_price li.last_price {
  width: 50%;
  float: left;
}
a.order {
  background:#F9D9BE;
  padding: 10px 20px;
  font-size: 1em;
  color: #000;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 3em 0;
}
a.order:hover{
  background:#E0BD9F;
}
.cart-item-info h3 span {
  display: block;
  font-weight: 400;
  font-size: 0.75em;
  margin-top: 3px;
}
.delivery {
  margin-top: 3em;
}
.total-item {
  margin-top: 2em;
  padding-bottom: 2em;
}
.total-item h3 {
  color: #333;
  font-size: 1em;
  margin-bottom: 1em;
}
.total-item h4 {
  font-size: 0.8em;
  font-weight: 600;
  color: #9C9C9C;
  display: inline-block;
  margin-right: 10%;
}
a.cpns {
  background:#F9D9BE;
  color: #000;
  padding: 10px;
  font-size: 0.8em;
}
.total-item p {
  font-size: 0.9em;
  margin-top: 1em;
  color: #727272;
}
/*--responsive design--*/
@media (max-width:1366px){
.lb-album li > a span {
	line-height:14em;
}
.field_content {
	top: 17em;
	left: 8em;
}
.field_content h1 {
	font-size: 2.6em;
}
}
@media (max-width:1280px){
.lb-album li > a span {
	line-height:13em;
}
.field_content h1 {
	font-size: 2.5em;
}
.field_content {
	top: 16em;
	left: 5em;
}
}
@media (max-width:1024px){
.lb-album li > a span {
	line-height:13em;
}
.header_top_right {
    width: 27%;
}
ul.content-home li .item-html h3 {
    font-size:50px;
    line-height:30px;
}  
ul.content-home li .item-html h3 span {
    font-size:40px;
}  
ul.content-home li .item-html p {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 1.5em;
}
.middle_content h2 {
  font-size: 60px;
}  
ul.content-home li .item-html button {
  font-size: 16px;
  padding: 10px 25px 10px;
}  
.banner {
	min-height:600px;
	padding-top: 2em;
}
.field_content {
	top: 12em;
	left: 4em;
}
.field_content h1 {
	font-size: 2.2em;
	letter-spacing: 23px;
}
.lb-album li > a span {
	line-height: 10.5em;
}
.lb-album li > a span {
	line-height: 10.5em;
}
.grid_3 {
	float: left;
	width: 41%;
}
.preffix_1 {
	margin-left: 15%;
}
.b-link-stroke {
  margin-bottom: 0;
}
.b-link-stroke .b-wrapper1 {
  top: 4em;
}  
.view .info {
  margin-top: 6em;
}
.b-link-stroke .b-wrapper2 {
  top: 13em;
}  
.b-link-stroke .b-wrapper {
  top: 9em;
}  
.sidebar_men h3 {
  font-size: 1.7em;
}
h2.quick {
  font-size: 1.1em;
}  
p.quick_desc {
  font-size: 0.85em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.product-qty span {
  font-size: 1.1em;
}  
.quantity_box {
  margin: 1em 0;
}
}
@media (max-width:930px){
.header_top_right {
  width: 35%;
}
.cart-items {
    width: 100%;
    margin-right: 0;
}
ul.content-home li .item-html h3 {
  font-size: 30px;
  line-height:10px;
}
ul.content-home li {
  padding: 8px;
}
ul.content-home li .item-html button {
  font-size: 13px;
  padding: 8px 15px 8px;
}
ul.content-home li img {
  min-height: 205px;
}
ul.content-home li .item-html h3 span {
  font-size: 30px;
}
.content_top, .content_middle{
	text-align: center;
}
.col1, .col2{
	padding-right:15px ! important;
}
.field_content h1 {
	font-size: 1.8em;
	letter-spacing: 15px;
}
.field_content h2 {
	font-size: 1.5em;
	margin-top: 1em;
}
.field_content {
	top: 9em;
	left: 3em;
}
.lb-album li > a span {
	line-height: 8.5em;
}
.cssmenu ul li a {
	margin: 10px 10px;
	font-size: 1em;
}
.sidebar_men {
	margin-right: 0;
	width: 100%;
	margin-bottom:3em;
}
.mens-toolbar .sort {
	width: 25.5%;
}
.view .info {
	padding: 7px 53px;
	font-size: 0.85em;
}
.single_top {
	margin-bottom: 3em;
}
.men_banner {
	min-height: 145px;
	padding-top: 2em;
}
.grid1, .content_middle{
	margin-top:0;
}
}
@media (max-width:768px){
.logo{
	float:none;
}
.logo h1 {
    font-size: 7em;
    font-weight: bold;
}
.middle_content h2 {
  font-size: 50px;
}
.grid1, .content_middle {
  margin-top: 53px;
}
.b-link-stroke .b-wrapper2 {
  top: 10em;
}
.b-link-stroke .b-wrapper1 {
  top: 2em;
}
.b-link-stroke .b-wrapper {
  top: 7em;
}
ul.product {
  width: 50%;
  float: left;
}
.footer {
  padding:3em 0;
}
.menu {
	float: none;
}
.banner {
	min-height:450px;
}
.men_banner {
	min-height: 215px;
	padding-top: 2em;
}
.preffix_1 {
	margin-left:7%;
	width: 40%;
}
ul.iphone li.phone_desc {
	font-size: 0.85em;
}
.grid_3 {
	width: 47%;
}
.copy {
  margin-top: 1em;
}
.cbp-vm-view-grid ul li {
  width: 30.888%;
}
.view .info {
  margin-top: 9em;
}
.col-md-5.left-account {
  margin: 3em 0 0 0;
}
}
@media (max-width:640px){
.field_content h1 {
	font-size: 1.3em;
}	
.delivery span {
    float: none;
}
.account-in {
    padding: 3em 0;
}
.delivery {
    margin-top: 1em;
}
.account-in h3 {
    padding: 0;
}    
a.order {
    margin: 1em 0;
}
.total-item {
   padding-bottom: 0em;
}
.top_grid {
	padding: 3em 0;
}
.header_top_right {
  width: 43%;
}
ul.content-home li img {
  min-height: 0;
}
.newsletter form {
  width: 70%;
}
.field_content h2 {
	font-size: 1.3em;
}
.field_content {
	top: 8em;
	left: 2em;
}
.cssmenu, ul.social{
	float: none;
}
.footer {
	padding: 2em 0;
	text-align: center;
}
.men {
	padding: 3em 0 0em;
}
.sidebar_men h3 {
	margin: 0 0 10px;
}
.mens-toolbar .sort {
	width: 29.5%;
}
.mens-toolbar, .dreamcrub{
	margin-bottom: 1em;
}
.view .info {
	padding: 7px 32px;
	font-size: 0.8125em;
	margin-top: 6em;
}
.labout {
	float: none;
	margin: 0;
}
.span_2_of_a1 {
	width: 100%;
	margin-left: 0;
}
.cont1 {
	float:none;
}
.right-side {
	border-left: none;
	padding: 0;
}
.middle-side {
	padding: 0;
	margin:1em 0;
}
.brand_box {
	margin: 2em 0;
}
.logo h1 {
  font-size: 5em;
}
.banner {
  min-height:400px;
}
.header_arrow {
  margin-top: 8em;
}
.col1, .col2 {
  padding-right: 5px ! important;
}
.col2{
  width: 50%;
  float: left;
}
.span_1_of_a1 {
  width: 100%;
}
}
@media (max-width:480px){
.header_arrow {
	margin-top:6em;
}	
.middle_content h2 {
  font-size: 45px;
}
ul.content-home {
  padding: 3em 0;
}
.middle_content {
  margin-bottom: 3em;
}
.menu {
  margin: 2em 0 0 0;
}
ul.header_user_info {
  width: 44%;
}  
.header_top_right {
  width: 51%;
}
.grid1, .content_middle {
  margin-top: 20px;
}
.banner {
	min-height:340px;
}
.field_content h1 {
	font-size: 1em;
	letter-spacing: 10px;
}
.field_content h2 {
	font-size: 1em;
	letter-spacing: 10px;
}
.logo img {
	width: 150px;
}
.cssmenu ul li a {
	margin: 10px 4px;
	letter-spacing: 2px;
}
.but__center {
  margin: 1em 0 3em;
}
.mens-toolbar .sort {
	width: 38.5%;
}
.map iframe {
	min-height:200px;
}
.preffix_1 {
	margin-left: 0;
	width: 49%;
}
.grid_3 {
	width: 50%;
}
.grid_1 h1, .contact_form h2{
	font-size:1.5em;
}
.b-link-stroke .b-wrapper2 {
	width: 99%;
	top: 7em;
}
.men_banner {
	min-height: 180px;
}
.resp-tabs-container {
	padding:0;
}
.page-not-found h1 {
	font-size: 5em;
}
.cart-items, .col-md-3.cart-total{
   padding: 0;
}
.cart-items h1 {
    font-size: 1.3em;
    margin-bottom: 1em;
}
.cart-item-info h3 {
    font-size: 0.85em;
}
.cart-sec {
    margin-bottom: 2em;
}
a.continue {
    padding: 7px 10px;
}
}
@media (max-width:414px){
i.user {
  margin: 6px 5px 0 5px;
}	
.dropdown {
  width: 50px;
  padding: 8px 10px 5px;
}
.lang_list {
  width: 33%;
}
i.user {
  margin: 6px 3px 0 0px;
}
}
@media (max-width:375px){
.banner {
	min-height:200px;
	padding-top:1em;
}
.header_top_left {
  float: none;
  margin: 0;
}
.header_top_right {
  width: 100%;
  float: none;
  margin: 10px 0 0 0;
}
ul.content-home {
  padding: 2em 0;
}
ul.content-home li {
  padding: 0;
  margin-bottom:10px;
}
ul.content-home li .item-html h3 {
  font-size: 25px;
  line-height: 5px;
}
ul.content-home li .item-html h3 span {
  font-size: 25px;
}
.middle_content h2 {
  font-size: 30px;
}
.middle_content p {
  font-size:0.95em;
}
.middle_content {
  margin-bottom: 2em;
}
.lb-album li > a span {
  line-height: 6.5em;
}
.logo h1 {
  font-size: 3em;
  font-weight: bold;
}
.menu {
  margin-top: 1.5em;
}
.col1, .col2 {
  padding:0;
}
.col5 {
  padding: 0;
}
.copy p {
  font-size: 0.85em;
}
.sidebar_men {
	padding:0;
}
.header_bottom {
    padding: 1em 0 2em;
}
.header_arrow a span {
	width: 66px;
	height: 35px;
	background-size: 100%;
}
.header_arrow {
	margin-top:2em;
}
.b-link-stroke .b-wrapper2 {
	width: 99%;
	top: 4em;
}
.b-link-stroke .b-wrapper1 {
	top: 3em;
}
.b-link-stroke .b-wrapper {
	top: 8em;
}
.lb-album li {
	width: 49.9999%;
}
.cssmenu ul li a {
	margin:3px;
	font-size: 12px;
}
ul.social {	float: none;
	margin-top: 1em;
}
.copy {
	margin-top: 1em;
}
.view .info {
	padding: 7px 43px;
	margin-top: 7em;
}
ul.single_social li {
	margin-right: 0;
}
.preffix_1 {
	margin-left: 0;
	width: 100%;
}
.grid_3 {
	width: 100%;
	float: none;
}
.sidebar_men h3 {
  font-size: 1.3em;
}
ul.color {
  margin-bottom: 2em;
}
.col-md-8.mens_right {
  padding: 0;
}
ul.breadcrumbs li, ul.previous li a{
  font-size: 0.85em;
}  
.mens-toolbar .sort {
  width: 44.5%;
}
.product_container {
  padding: 10px 10px 0;
}  
.view .info {
  padding: 5px 28px;
  margin-top: 5em;
}
.men {
  padding: 2em 0 0em;
}
.sidebar_men {
  margin-bottom: 2em;
}
.single_top {
  padding: 0;
}
.span_2_of_a1 h1 {
  font-size: 1.4em;
}
.price_single {
  margin: 0.5em 0 1em;
}
h2.quick {
  font-size: 1em;
}
.wish-list {
  padding: 6px 0;
}
ul.size h3 {
  font-size: 1em;
  margin-bottom: 10px;
}  
ul.size {
  margin-top: 1em;
}
.product-qty span {
  font-size: 1em;
}
.btn.btn-primary {
  font-size: 1em;
  padding: 7px 30px;
}  
ul.tab_list {
  padding: 10px;
}
ul.tab_list li a {
  color: #999;
  font-size: 0.85em;
  line-height: 1.8em;
}  
.sap_tabs {
  margin:2em 0;
  padding:0;
}
.col-md-3.tabs {
  padding: 0;
}
h3.m_1 {
  font-size: 1.2em;
  margin-bottom: 1em;
}  
ul.product li.product_desc h4 {
  font-size: 14px;
}
a.link-cart {
  font-size: 12px;
}
p.single_price {
  margin-bottom: 5px;
}  
.grid_1 h1, .contact_form h2 {
  font-size: 1.3em;
}
.col-md-6.to, .col-md-6.text{
  padding: 0;
}
.contact_form h2 {
  margin: 1em 0 0.5em 0;
}
ul.iphone {
  margin-bottom: 0.5em;
}
.newsletter h3 {
  font-size:1.6em;
}
.newsletter p {
  font-size: 0.95em;
}
.newsletter form {
  width: 100%;
}
.newsletter input[type="text"], .newsletter input[type="submit"]{
  padding: 6px;
  font-size:13px;
}
.newsletter {
  padding: 0 0 2em;
}
a.b-home {
  padding: 8px 12px;
  font-size: 13px;
}
.grid_1 {
  margin-bottom: 1em;
}
}